@import "tailwindcss";

@source "../components";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-brand: "Pretendard", sans-serif;

  --padding-base: 7rem;

  --breakpoint-xs: 425px;
  --breakpoint-2xs: 375px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"]:disabled {
    @apply cursor-not-allowed;
  }

  body {
    @apply font-brand dark:bg-zinc-900 dark:text-zinc-200 dark:md:bg-zinc-950;
  }
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}
